.madeWith {
  font-size: calc(15px + 0.390625vw);
  margin-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footerContainer {
  margin-top: 100px;
  text-align: center;
  color: var(--main-text-color);
  font-size: calc(13px + 0.390625vw);
}
.footerText {
  margin-top: 5px;
}

/* Styles for screens with width less than 900 pixels */
@media screen and (max-width: 900px) {
  .footerContainer {
    margin-top: 20px;
  }
  .footerText {
    margin-top: 15px;
  }
}
